{{!
    This file is part of the tool_certificate plugin for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_certificate/mobile_my_certificates_page

    Template for showing list of certificate issues in the mobile app.

    Example context (json):
    {
        "certificates": [
            {
                "id": 1,
                "name": "First Certificate",
                "coursename": "Course 1",
                "timecreated": 1747297694,
                "expires": 0,
                "isexpired": false,
                "code": "1234567890AB",
                "verifyurl": "https://example.com/admin/tool/certificate/index.php?code=1234567890AB",
                "fileurl": "https://example.com/pluginfile.php/1/tool_certificate/issues/1747297694/1234567890AB.pdf",
                "shareurl": "https://www.linkedin.com/..."
            }
        ],
        "hascertificates": true,
        "canverify": true,
        "showshareonlinkedin": true,
        "viewmore": "https://example.com/admin/tool/certificate/my.php"
    }
}}
{{=<% %>=}}

<ion-item class="ion-text-wrap">
    <ion-label>
        <p>{{ 'plugin.tool_certificate.mycertificatesdescription' | translate }}</p>
    </ion-label>
</ion-item>

<%#hascertificates%>
<!-- Phone view. -->
<ion-accordion-group class="ion-hide-md-up tool-certificate-mycertificates-mobile">
    <%#certificates%>
    <ion-accordion role="item" value="tool-certificate-<% id %>" toggle-icon-slot="start" class="tool-certificate-my-item">
        <ion-item class="ion-text-wrap divider" slot="header">
            <ion-label>
                <p class="item-heading"><% name %><%#coursename%> - <% coursename %><%/coursename%></p>
            </ion-label>
        </ion-item>
        <div slot="content">
            <ion-item-group>
                <ion-item class="ion-text-wrap">
                    <ion-label>
                        <p class="item-heading">{{ 'plugin.tool_certificate.issueddate' | translate }}</p>
                        <p>{{ <% timecreated %> * 1000 | coreFormatDate }}</p>
                    </ion-label>
                </ion-item>
                <ion-item class="ion-text-wrap">
                    <ion-label>
                        <p class="item-heading">{{ 'plugin.tool_certificate.expirydate' | translate }}</p>
                        <%#expires%>
                        <p>{{ <% expires %> * 1000 | coreFormatDate }}</p>
                        <%/expires%>
                        <%^expires%>
                        <p>{{ 'plugin.tool_certificate.never' | translate }}</p>
                        <%/expires%>
                    </ion-label>
                    <%#isexpired%>
                    <ion-badge slot="end" color="danger">
                        {{ 'plugin.tool_certificate.expired' | translate }}
                    </ion-badge>
                    <%/isexpired%>
                </ion-item>
                <%#canverify%>
                <ion-item class="ion-text-wrap">
                    <ion-label>
                        <p class="item-heading">{{ 'plugin.tool_certificate.code' | translate }}</p>
                        <p>
                            <a href="<% verifyurl %>" title="{{ 'plugin.tool_certificate.verify' | translate }}" core-link
                                [showBrowserWarning]="false"><% code %></a>
                        </p>
                    </ion-label>
                </ion-item>
                <%/canverify%>
            </ion-item-group>
            <ion-button class="ion-margin" expand="block" [core-download-file]="{ fileurl: '<% fileurl %>' }">
                <ion-icon slot="start" name="fas-download" aria-hidden="true"></ion-icon>
                {{ 'plugin.tool_certificate.view' | translate }}
            </ion-button>
            <%#showshareonlinkedin%>
            <ion-button class="ion-margin" fill="outline" expand="block" href="<% shareurl %>" core-link
                [showBrowserWarning]="false">
                <ion-icon slot="start" name="fas-share-nodes" aria-hidden="true"></ion-icon>
                {{ 'plugin.tool_certificate.shareonlinkedin' | translate }}
            </ion-button>
            <%/showshareonlinkedin%>
        </div>
    </ion-accordion>
    <%/certificates%>
</ion-accordion-group>

<!-- Tablet view. -->
<ion-grid role="grid" class="ion-hide-md-down tool-certificate-mycertificates-tablet">
    <!-- Header of the table -->
    <ion-row role="row">
        <ion-col role="columnheader" class="ion-text-center">{{ 'plugin.tool_certificate.name' | translate }}</ion-col>
        <ion-col role="columnheader" class="ion-text-center">{{ 'plugin.tool_certificate.issueddate' | translate }}</ion-col>
        <ion-col role="columnheader" class="ion-text-center">{{ 'plugin.tool_certificate.expirydate' | translate }}</ion-col>
        <%#canverify%>
        <ion-col role="columnheader" class="ion-text-center">{{ 'plugin.tool_certificate.code' | translate }}</ion-col>
        <%/canverify%>
        <ion-col role="columnheader" class="ion-text-center">{{ 'plugin.tool_certificate.file' | translate }}</ion-col>
        <%#showshareonlinkedin%>
        <ion-col role="columnheader" class="ion-text-center">{{ 'plugin.tool_certificate.shareonlinkedin' | translate }}</ion-col>
        <%/showshareonlinkedin%>
    </ion-row>

    <!-- List of certificates -->
    <%#certificates%>
        <ion-row role="row">
            <ion-col role="gridcell" class="ion-justify-content-center ion-text-center">
                <% name %><%#coursename%> - <% coursename %><%/coursename%>
            </ion-col>
            <ion-col role="gridcell" class="ion-justify-content-center ion-text-center">
                {{ <% timecreated %> * 1000 | coreFormatDate }}
            </ion-col>
            <ion-col role="gridcell" class="ion-justify-content-center ion-text-center">
                <%#expires%>
                <p>
                    {{ <% expires %> * 1000 | coreFormatDate }}
                    <%#isexpired%>
                    <ion-badge color="danger">
                        {{ 'plugin.tool_certificate.expired' | translate }}
                    </ion-badge>
                    <%/isexpired%>
                </p>
                <%/expires%>
                <%^expires%>
                <p>{{ 'plugin.tool_certificate.never' | translate }}</p>
                <%/expires%>
            </ion-col>
            <%#canverify%>
            <ion-col role="gridcell" class="ion-justify-content-center ion-text-center">
                <a href="<% verifyurl %>" title="{{ 'plugin.tool_certificate.verify' | translate }}" core-link
                    [showBrowserWarning]="false"><% code %></a>
            </ion-col>
            <%/canverify%>
            <ion-col role="gridcell" class="ion-justify-content-center ion-text-center">
                <ion-button class="ion-margin" [attr.aria-label]="'plugin.tool_certificate.view' | translate" fill="outline"
                    [core-download-file]="{ fileurl: '<% fileurl %>' }">
                    <ion-icon slot="icon-only" name="fas-download" aria-hidden="true"></ion-icon>
                </ion-button>
            </ion-col>
            <%#showshareonlinkedin%>
            <ion-col role="gridcell" class="ion-justify-content-center ion-text-center">
                <ion-button class="ion-margin" [attr.aria-label]="'plugin.tool_certificate.shareonlinkedin' | translate"
                    fill="outline" href="<% shareurl %>" core-link [showBrowserWarning]="false">
                    <ion-icon slot="icon-only" name="fas-share-nodes" aria-hidden="true"></ion-icon>
                </ion-button>
            </ion-col>
            <%/showshareonlinkedin%>
        </ion-row>
    <%/certificates%>
</ion-grid>
<%/hascertificates%>

<%^hascertificates%>
<core-empty-box message="{{ 'plugin.tool_certificate.nothingtodisplay' | translate }}" icon="fas-medal" />
<%/hascertificates%>

<%#viewmore%>
<ion-button class="ion-margin" fill="outline" expand="block" href="<% viewmore %>" core-link
    [showBrowserWarning]="false">
    <ion-icon slot="start" name="fas-up-right-from-square" aria-hidden="true"></ion-icon>
    {{ 'plugin.tool_certificate.viewmore' | translate }}
</ion-button>
<%/viewmore%>
